<p id="notice"><%= notice %></p>

<div class="text-center"><h1>Restaurants</h1></div>
<div class="container">
    <% @restaurants.each do |restaurant| %>
      <div class="card ">
        <div class="row">
          <div class="col-sm-4">
            <h2><%= restaurant.name %></h2>
            <p>Address : <%= restaurant.address %></p>
            <p>Category : <%= restaurant.category %></p>
            <p>Phone Number : <%= restaurant.phone_number %></p>

            <%= link_to 'Show', restaurant %>

            <%= link_to 'Edit', edit_restaurant_path(restaurant) %>

           <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<br>
<div class="text-center">
  <%= link_to 'New Restaurant', new_restaurant_path %>
</div>

